.discover {
    padding-top: 76px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;

    .my-swipe {
        .van-swipe-item {
            height: 158px;
            overflow: hidden;
            box-sizing: border-box;
            padding: 15px;
            color: #fff;
            background-color: #fff;

            .contain {
                border-radius: 8px;
                background-color: red;
                width: 100%;
                height: 100%;
                position: relative;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-content: center;
            }

            label {
                position: absolute;
                background-color: #3688c9;
                right: 0;
                bottom: 0;
                font-size: 10px;
                padding: 4px 6px;
                letter-spacing: 1px;
                border-top-left-radius: 6px;
            }
        }

        .van-swipe__indicators {
            bottom: 25px;
        }
    }

    .ball-list {
        background-color: #fff;
        width: 100%;
        height: 70px;
        overflow-x: auto;

        .auto-scroll {
            width: 600px;
            height: 100%;
        }

        .ball {
            // background-color: red;
            width: 55px;
            height: 70px;
            margin: 0 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .icon {
                background-color: #ff1d11;
                width: 40px;
                height: 40px;
                border-radius: 40px;
            }

            .text {
                margin-top: 4px;
                font-size: 10px;
            }
        }
    }

    .found-good {
        padding: 15px 0 10px;

        .title {
            padding-left: 10px;
            font-size: 16px;
            font-weight: bold;
        }

        .good-list {
            margin-top: 10px;
            height: 150px;
            width: 100%;
            overflow-x: auto;
            overflow-y: hidden;

            .auto-scroll {
                width: 730px;
                height: 100%;

                .good {
                    width: 110px;
                    height: 100%;
                    margin-left: 9px;

                    .img {
                        background-color: #eee;
                        width: 110px;
                        height: 110px;
                        border-radius: 8px;
                        overflow: hidden;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;

                        .count {
                            position: absolute;
                            top: 0;
                            right: 0;
                            color: #fff;
                            padding: 4px;
                            background-color: rgba(0,0,0,.5);
                        }
                    }

                    .text {
                        margin-top: 8px;
                        width: 110px;
                        height: 30px;
                        font-size: 11px;
                    }
                }
            }
        }
    }

}