.my {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: auto;

    .bg {
        height: 240px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .user-info {
        margin-top: -120px;
        height: 120px;

        .islogin {
            display: flex;
            align-items: center;

            .icon {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                overflow: hidden;
                margin-left: 20px;
            }

            .nickname {
                color: #fff;
                font-size: 18px;
                margin-left: 12px;
            }
        }

        .nologin {
            background-color: purple;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .icon {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                overflow: hidden;
                margin-left: 20px;

                .van-icon {
                    color: #fff;
                    font-size: 50px;
                }
            }

            .nickname {
                color: #fff;
                font-size: 12px;
                position: absolute;
                margin-left: 80px;
            }

            .van-button {
                width: 80px;
                height: 22px;
                color: #fff;
                background-color: transparent;
                font-size: 12px;
                border-color: #fff;
                margin-right: 10px;
            }
        }
    }

    .contain {
        background-color: #fff;
        min-height: calc(100% - 240px - 48px);
        max-height: calc(100% - 76px - 48px);
        overflow-y: auto;
        margin-top: -15px;
        border-radius: 20px;
        position: sticky;
        top: 0;
        z-index: 99;
        padding-bottom: 48px;

        .fill {
            background-color: #fff;
            height: 15px;
            position: sticky;
            top: 0;
            z-index: 999;
        }

        .classify {
            padding: 15px;

            .title {
                margin-bottom: 15px;
                font-size: 14px;
                font-weight: bold;
            }

            .content {
                overflow: auto;
                width: calc(118px*3);
                height: 148px;

                .box {
                    width: 110px;
                    height: 140px;
                    margin: 4px;
                    border-radius: 6px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .van-icon {
                        font-size: 28px;
                    }

                    .text {
                        color: #fff;
                        font-size: 10px;
                        margin-top: 8px;
                    }
                }

                .box:nth-child(1) {
                    background-image: linear-gradient(to bottom right, rgba(167, 167, 167, .9), rgba(77, 77, 77, .95));
                }

                .box:nth-child(2) {
                    background-color: #30383b;
                }

                .box:nth-child(3) {
                    background-color: #e5e5e5;

                    .text {
                        color: #202028;
                    }
                }
            }

        }

        .lately {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .box {
                display: flex;
                align-items: center;
                width: 50%;
                overflow: hidden;

                .left {
                    width: 60px;
                    height: 60px;
                    background-color: #eee;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 8px;
                    overflow: hidden;

                    .icon {
                        position: absolute;
                        background-color: rgba(255, 255, 255, .8);
                        width: 13px;
                        height: 13px;
                        padding: 6px;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .van-icon {
                            font-size: 15px;
                            color: #fe3a3b;
                        }
                    }
                }

                .right {
                    width: calc(100% - 70px);
                    height: 60px;
                    margin-left: 8px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;

                    div {
                        &:nth-child(2) {
                            margin-top: 6px;
                            color: #969696;
                        }
                    }
                }
            }
        }

        .personalize {
            .box {
                margin-bottom: 20px;

                .van-ellipsis {
                    width: calc(100% - 10px);

                }
            }
        }
    }

}